<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Holiday Sun - Contact</title>
    <link href="../static/styles.css" type="text/css" rel="stylesheet">
</head>

<body>
<nav>
    <form class="header" action="/" method="get">
        <input class="header" type="submit" value="Holiday Sun" id="header" name="header"/><br />
    </form>
    <form class="normal" action="/contact" method="get">
        <input class="normal" type="submit" value="Contact" id="contact" name="contact"/><br />
    </form>
    <form class="normal" action="/" method="get">
        <input class="normal" type="submit" value="Home" id="home" name="home"/><br />
    </form>
</nav>

<p style="text-align: center;margin-top: 25%">
    To learn more about the creator of this website and contact them go to
    <a class="link" href="http://paisleymaschmeier.com" target="_blank">paisleymaschmeier.com</a></p>

</body>
</html>